$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #59da2f !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  red:$red
);

$theme-colors:(
  primary:$red
);


// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';

